.contact-main{
    background-color: var(--dark);
    padding: 30px 10%;
}

.contact-main h1{
    background-color: transparent;
    color: var(--light);
}

.contact-main form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--dark);
    margin-top: 20px;
}

.contact-input{
    font-size: 17px;
    text-align: center;
    color: var(--dark);
    border: none;
    padding: 20px;
    border-radius: 10px;
}

.contact-input::placeholder{
    color: var(--dark);
}

.button-holder{
    background-color: var(--dark);
    display: flex;
    justify-content: center;
}

.button-holder button{
    background-color: var(--button);
    color: var(--dark);
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
}

.button-holder button:hover{
    background-color: var(--hover);
}

/* Responsive */