.journey-main{
    padding: 0 10%;
    background-color: var(--dark);
    height: 100vh;
    display: flex;
}

.journey-grid{
    background-color: var(--dark);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left{
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

}

.left h1{
    background-color: var(--dark);
    color: var(--button);
}

.left h4{
    background-color: var(--dark);
    color: var(--light);
    margin-top: 10px;
    line-height: 21px;
}

.right{
    background-color: var(--dark);
    display: flex;
    justify-content: end;
}

.right img{
    background-color: var(--dark);
    width: 400px;
}

.resume{
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.resume button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--button);
    color: var(--dark);
    padding: 9px 25px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.resume button:hover{
    background-color: var(--hover);
}

/* Responsive */
@media (max-width: 1100px){
    .journey-main{
        justify-content: center;
        align-items: center;
    }

    .journey-grid{
        grid-template-columns: 1fr;
    }

    .left{
        order: 3;
        justify-content: start;
        margin-top: 20px;
    }

    .right{
        justify-content: center;
    }
}

@media (max-width: 780px){
    .left h1{
        font-size: 30px;
    }

    .left h4{
        font-size: 14px;
    }

    .resume button{
        font-size: 14px;
    }
}

@media (max-width: 480px){
    .journey-main{
        height: 100%;
        padding: 40px 10%;
    }

    .right img{
        width: 300px;
    }
}