:root {
  --light: #D9CDCB;
  --dark: #2D3047;
  /* --button: #77BAB5; */
  --button: #86d4cf;
  --hover: #bcfffb;
}

*{
  color: var(--dark);
  background-color: var(--light);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}
